*{
    margin: 0px;
    padding: 0px;
    
}

body{

    background-color: rgb(255, 217, 167);
    font-family: Arial, Helvetica, sans-serif;

}


header{

background-color: rgb(255, 96, 96);
height: 250px;
text-align: center;

}

header img{

    height:px; /*altura*/
    width:px; /*largura*/
    border-radius: 10%;
    border: solid 2px black;


}

main{


    
}

main section{

    background-color: #fff;
    margin: 30px;
    padding: 30px 10px 20px 30px; /*margin sentido horario*/
    border-radius: 5px;
}
main h2{

margin-bottom: 20px;


}

main ol, ul{

    padding-left: 20px;
}

footer{

    background-color: #fff;
    margin: 30px;
    padding: 30px 10px 20px 30px; /*margin sentido horario*/
    border-radius: 5px;

}

nav, p{

    text-align: center;
}